.rem3wide{
    width: 3rem;
}
.icon-container{
    background-color:#22a48a;
}
.lgc-bg {
    background-color: rgb(242, 242, 242);
}
.customDataTable table {
    table-layout: fixed;
    width: 100%;
    border-bottom: 1px solid rgb(236, 235, 234);
    border-collapse: separate;
    border-spacing: 0;
}
.customDataTable table td{
    vertical-align: top;
}