<template>

   <lightning-card>
      <div slot="title">
         <template if:true={objectNameSet}>
            <header class="slds-media slds-media--center slds-has-flexi-truncate">
               <div class="slds-media__figure" aria-hidden="true">
                  <div class="extraSmall forceEntityIcon" style={objectBackColor}>
                     <span class="uiImage">
                        <img src={objectIconImage} class="icon " alt={objPluralLabel} title={objPluralLabel}></img>
                     </span>
                  </div>
               </div>
               <div class="slds-media__body">
                  <!--h2 class="slds-card__header-title slds-truncate slds-m-right--xx-small slds-card__header-link"
                     title={objPluralLabel}>{objPluralLabel}</h2-->
                  <h2 class="slds-card__header-title slds-truncate slds-m-right--xx-small slds-card__header-link"
                     title={ComponentTitleText}>{ComponentTitleText}</h2>
                        
               </div>
            </header>
         </template>
      </div>
      <div slot="actions">
         <template if:true={objectNameSet}>
            <lightning-button-icon icon-name="utility:refresh" variant="border-filled" alternative-text="reload"
               onclick={reloadData}></lightning-button-icon>
            <lightning-button label="New" title="New" class="slds-m-left_x-small" onclick={handleNewOption}
               disabled={disableNewBtn}></lightning-button>
         </template>
      </div>
      <div class="slds-m-around_medium">
         <template if:false={objectNameSet}>
            Please fill sObject Name in the component's design attributes
         </template>
         <template if:true={headerColumns}>
            <div class="customDataTable" if:true={renderTable}>
               <table class="slds-table">
                  <thead>
                     <tr>
                        <template for:each={headerColumns} for:item="head">
                           <th key={head.fieldName}>
                              <p>
                                 <template if:true={head.sortable}>
                                    <lightning-button value={head.fieldName} variant="base" label={head.label}
                                       title={head.label} icon-name={head.sortIcon} class={head.sortClass}
                                       icon-position="right" onclick={doSorting}></lightning-button>
                                 </template>
                                 <template if:false={head.sortable}>
                                    <lightning-button value={head.fieldName} variant="base" label={head.label}
                                       title={head.label} class="headerBtn" disabled></lightning-button>
                                 </template>
                              </p>
                           </th>
                        </template>
                        <th class="rem3wide"></th>
                     </tr>
                  </thead>
               </table>
               <template if:true={currentPageData}>
                  <template for:each={currentPageData} for:item="cd">
                     <lightning-record-edit-form key={cd.key} object-api-name={objectName} record-id={cd.Id}
                        onsuccess={handleSuccess} onerror={handleError}>
                        <table class="slds-table">
                           <tbody>
                              <tr>
                              <!-- <td>Idx: {cd.Idx}, key : {cd.key} </td> -->
                                 <template for:each={cd.recData} for:item="rd">
                                    <td key={rd.key} if:true={rd.display} class="slds-cell-wrap"> <!-- {rd.key} --> 
                                       <template if:false={rd.editable}>
                                          <lightning-output-field field-name={rd.field} value={rd.value} variant="label-hidden">
                                          </lightning-output-field>
                                       </template>
                                       <template if:true={rd.editable}>
                                          <template if:false={rd.editNow}>
                                             <lightning-layout vertical-align="stretch">
                                                <lightning-layout-item flexibility="auto">
                                                   <lightning-output-field field-name={rd.field} value={rd.value} variant="label-hidden">
                                                   </lightning-output-field>
                                                </lightning-layout-item>
                                                <lightning-layout-item flexibility="auto, no-grow">
                                                   <lightning-button-icon icon-name="utility:edit" variant="container"
                                                      alternative-text="Edit" class="slds-m-left_xx-small lightIcon"
                                                      value={rd.key} onclick={goEditing}></lightning-button-icon>
                                                </lightning-layout-item>
                                             </lightning-layout>
                                          </template>
                                          <template if:true={rd.editNow}>
                                             <lightning-input-field field-name={rd.field} value={rd.value} variant="label-hidden" data-item={rd.key} onchange={handleFieldValueChange}>
                                             </lightning-input-field>
                                          </template>
                                       </template>
                                    </td>
                                 </template>
                                 <td class="rem3wide">
                                    <template if:true={cd.Id}>
                                       <lightning-button-menu alternative-text="Show menu" menu-alignment="right">
                                          <lightning-menu-item value={cd.Id} label="View" onclick={menuAction}>
                                          </lightning-menu-item>
                                          <lightning-menu-item value={cd.Id} label="Delete" onclick={menuAction}>
                                          </lightning-menu-item>
                                       </lightning-button-menu>
                                    </template>
                                    <template if:false={cd.Id}>
                                       <lightning-button-menu alternative-text="Show menu" menu-alignment="right">
                                          <lightning-menu-item  type="submit" label="Save">
                                          </lightning-menu-item>
                                          <lightning-menu-item value={cd.Idx} label="Delete" onclick={menuAction}>
                                          </lightning-menu-item>
                                       </lightning-button-menu>
                                    </template>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <template if:false={cd.Id}>
                           <div class="slds-hide">
                              <lightning-input-field field-name={relationField} value={recordId}>
                              </lightning-input-field>
                           </div>
                        </template>
                     </lightning-record-edit-form>
                  </template>
               </template>
            </div>
         </template>
      </div>
      <div slot="footer">
         <lightning-layout horizontal-align="spread">
            <lightning-layout-item>
               <template if:true={renderPaginationBtns}>
                  <lightning-layout-item size="12">
                     <div class="slds-align_absolute-center">
                        <lightning-button-group>
                           <lightning-button icon-name="utility:chevronleft" label="First"
                              disabled={paging.disableFirst} onclick={doPagination}></lightning-button>
                           <lightning-button icon-name="utility:chevronleft" label="Prev" disabled={paging.disablePrev}
                              onclick={doPagination}></lightning-button>
                           <span class="slds-button slds-button_neutral">{currentShowing}</span>
                           <lightning-button icon-name="utility:chevronright" icon-position="right" label="Next"
                              disabled={paging.disableNext} onclick={doPagination}></lightning-button>
                           <lightning-button icon-name="utility:chevronright" icon-position="right" label="Last"
                              disabled={paging.disableLast} onclick={doPagination}></lightning-button>
                        </lightning-button-group>
                     </div>
                  </lightning-layout-item>
               </template>
            </lightning-layout-item>
            <lightning-layout-item>
               <template if:true={showCancelBtn}>
                  <lightning-button label="Cancel" title="Cancel Edit" onclick={handleCancel}
                     class="slds-m-left_x-small"></lightning-button>
               </template>
               <template if:true={showSaveOrUpdateBtn}>
                     <lightning-button variant="brand" label="Save" title="Save New" onclick={handleSave}
                     class="slds-m-left_x-small"></lightning-button>
               </template>
               
            </lightning-layout-item>
         </lightning-layout>
      </div>
   </lightning-card>

   <template if:true={deletePrompt}>
      <section role="alertdialog" tabindex="0" aria-labelledby="prompt-heading-id"
         aria-describedby="prompt-message-wrapper" class="slds-modal slds-fade-in-open slds-modal_prompt"
         aria-modal="true">
         <div class="slds-modal__container">
            <header class="slds-modal__header slds-theme_warning slds-theme_alert-texture">
               <h2 class="slds-text-heading_medium" id="prompt-heading-id">Confirm Delete</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="prompt-message-wrapper">
               <p>Please click on Confirm to delete or Cancel to go back</p>
            </div>
            <footer class="slds-modal__footer slds-theme_default">
               <lightning-button label="Cancel" onclick={deleteCancel}></lightning-button>
               <lightning-button class="slds-m-left_xx-small" variant="brand" label="Confirm" onclick={deleteConfirmed}>
               </lightning-button>
            </footer>
         </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
   </template>

</template>